<!--en üste kopyalayın-->
<table>
  <td style="width:50%">
    <div style="margin-bottom:0.2cm" class="col-12 tabs is-toggle">
      <label class="tabs is-toggle is-left he1 header-label" style="color:black">Request's Details</label>
      <ul style="position: absolute; left:200px;">
        <li><a (click)="filterfor1month()" class="mesafe-button" style=color:black>1M</a></li>
        <li><a (click)="filterfor3month()" style=color:black>3M</a></li>
        <li><a (click)="filterfor6month()" style=color:black>6M</a></li>
        <li><a  style=color:black>YTD</a></li>
        <li><a (click)="filterfor1year()" style=color:black>1Y</a></li>
        <li><a  style=color:black>ALL</a></li>
      </ul>
    </div>
  </td>
  <td class="col-12" style="width:40%">
    <label  title="Select Start Date">From:</label>
    <ng2-datepicker [(ngModel)]="datestart" style="margin-right:10px" placeholder="YYYY-MM-DD" title="Select Start Date"></ng2-datepicker>
    <label  style="margin-left:10px" title="Select End Date">To:</label>
    <ng2-datepicker [(ngModel)]="dateend"   placeholder="YYYY-MM-DD" title="Select End Date"></ng2-datepicker>
  </td>
  <td style="position: absolute; right: 20px">
    <span (click)="big=!big">
    <span style="margin-right:1cm"  (click)="refreshData()" title="Refresh" class="style_prevu_kit glyphicon glyphicon-refresh"><div >{{big ? 'Loading...' : ''}}</div></span>
    </span>
  </td>
</table>
<!--1-->
<div class="row">
  <div class="col-xlg-9 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
    <ba-card style="color:black" title="Special Request Stats" baCardClass="medium-card">
      <div style="position: absolute; top:0px; right: 30px;">
        <div title="Filter" class="navbar-item has-dropdown is-hoverable is-boxed">
          <a class="navbar-link  is-active">
          ALL
        </a>
          <div class="navbar-dropdown ">
            <a class="navbar-item ">
            PUT
          </a>
            <a class="navbar-item ">
            GET
          </a>
            <a class="navbar-item ">
            POST
          </a>
          </div>
        </div>
      </div>
      <ba-chartist-chart baChartistChartClass="ct-chart" baChartistChartType="Line" [baChartistChartData]="dataForChart" [baChartistChartOptions]="optionForChart">
      </ba-chartist-chart>
    </ba-card>
  </div>
  <!--2-->
  <div class="col-xlg-9 col-xl-6 col-lg-6  col-md-12 col-sm-12 col-12">
    <div class="row">
      <ba-card class="col-xlg-8 col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12" title="Request Count" baCardClass="medium-card">
        <div style="position: absolute; top:0px; right: 30px;">
          <select ng-model="selection" title="Filter" class="navbar-item has-dropdown is-hoverable is-boxed">
          <option value="1" onselect="calculateRequestCount('ALL')">
          ALL
        <option value="2" onselect="calculateRequestCount('PUT')">
            PUT
            <option value="3" onselect="calculateRequestCount('GET')">
            GET
            <option value="4" onselect="calculateRequestCount('POST')">
            POST
        </select>
        </div>
        <div class="charts">
          <div *ngFor="let data of dataForCount; let i = index;">
            <label>{{data.requestRouteTemplate}}</label>
            <label style="position: absolute; right: 300px;">
              {{this.Math.floor(data.count * 100 / dataForCount[0].count)}}%
            </label>
            <label style="position: absolute; right: 30px;">{{data.count|toReadableTime}} {{data.count < 2000 ? 'sec' : 'secs'}}</label>
            <progress class="progress is-small" max="100" [value]="this.Math.round(data.count * 100 / dataForCount[0].count)" [ngClass]="{'is-info': i==0, 'is-primary': i == 1,'is-warning': i==2, 'is-danger': i == 3, 'is-success': i == 4 }">
              {{this.Math.floor(data.count * 100 / dataForCount[0].count)}}%
            </progress>
          </div>
        </div>
      </ba-card>
    </div>
  </div>
  <!--3-->
  <div class="col-xlg-9 col-xl-6 col-lg-6  col-md-12 col-sm-12 col-12">
    <div class="row">
      <ba-card class="col-xlg-8 col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12" title="Most Response Time" baCardClass="medium-card">
        <div style="position: absolute; top:0px; right: 30px;">
          <div title="Filter" class="navbar-item has-dropdown is-hoverable is-boxed">
            <a class="navbar-link  is-active" (click)="calculateMostResponseTime('ALL')">
          ALL
          </a>
            <div class="navbar-dropdown ">
              <a class="navbar-item " (click)="calculateMostResponseTime('PUT')">
            PUT
          </a>
              <a class="navbar-item " (click)="calculateMostResponseTime('GET')">
            GET
          </a>
              <a class="navbar-item " (click)="calculateMostResponseTime('POST')">
            POST
          </a>
            </div>
          </div>
        </div>
        <div class="charts">
          <div *ngFor="let data of dataForMostResponseTime; let i = index;">
            <label>{{data.requestRouteTemplate}}</label>
            <label style="position: absolute; right: 300px;">
              {{this.Math.floor(data.maxTime * 100 / dataForMostResponseTime[0].maxTime)}}%
            </label>
            <label style="position: absolute; right: 30px;">{{data.maxTime|toReadableTime}} {{data.maxTime < 2000 ? 'sec' : 'secs'}}</label>
            <progress class="progress is-small" max="100" [value]="this.Math.round(data.maxTime * 100 / dataForMostResponseTime[0].maxTime)"
              [ngClass]="{'is-info': i==0, 'is-primary': i == 1,'is-warning': i==2, 'is-danger': i == 3, 'is-success': i == 4 }">
              {{this.Math.floor(data.maxTime * 100 / dataForMostResponseTime[0].maxTime)}}%
            </progress>
          </div>
          <!-- /.charts -->
        </div>
      </ba-card>
    </div>
  </div>
  <!--4-->
  <div style="color:black" class="col-xlg-9 col-xl-6 col-lg-6  col-md-12 col-sm-12 col-12">
    <div class="row">
      <ba-card class="col-xlg-8 col-xl-12 col-lg-12 col-md-7 col-sm-12 col-12" title="Avg. Response Time" baCardClass="medium-card">
        <div style="position: absolute; top:0px; right: 30px;">
           <!-- <div title="Filter" class="navbar-item has-dropdown is-hoverable is-boxed">
             <a class="navbar-link  is-active" (click)="calculateMostResponseTime('ALL')">
          ALL
          </a>
         <div class="navbar-dropdown ">
          <div *ngFor="let data of requestName; let i = index;">
            <a class="navbar-link" (click)="calculateAvgResponseTime('data')"> {{data}}</a>
          </div>   
         </div>

            
          </div>  -->
         <div title="Filter" class="navbar-item has-dropdown is-hoverable is-boxed">
            <a class="navbar-link  is-active" (click)="calculateAvgResponseTime('ALL')">
          ALL
          </a>
            <div class="navbar-dropdown ">
              <a class="navbar-item " (click)="calculateAvgResponseTime('PUT')">
            PUT
          </a>
              <a class="navbar-item " (click)="calculateAvgResponseTime('GET')">
            GET
          </a>
              <a class="navbar-item " (click)="calculateAvgResponseTime('POST')">
            POST
          </a>
            </div>
          </div> 
        </div>
        <div class="charts">
          <div *ngFor="let data of dataForAvgRequestTime; let i = index;">
            <label>{{data.requestRouteTemplate}}</label>
            <label style="position: absolute; right: 300px;">
              {{this.Math.floor(data.avgTime * 100 / dataForAvgRequestTime[0].avgTime)}}%
            </label>
            <label style="position: absolute; right: 30px;">{{data.avgTime|toReadableTime}} {{data.avgTime < 2000 ? 'sec' : 'secs'}}</label>
            <progress class="progress is-small" max="100" [value]="this.Math.round(data.avgTime * 100 / dataForAvgRequestTime[0].avgTime)"
              [ngClass]="{'is-info': i==0, 'is-primary': i == 1,'is-warning': i==2, 'is-danger': i == 3, 'is-success': i == 4 }">
              {{this.Math.floor(data.avgTime * 100 / dataForAvgRequestTime[0].avgTime)}}%
            </progress>
          </div>
          <!-- /.charts -->
        </div>
      </ba-card>
    </div>
  </div>
</div>